NEXT_PUBLIC_RPC_URL=https://ethereum-sepolia.publicnode.com
NEXT_PUBLIC_FHISH_GATEWAY_URL=http://localhost:8080
NEXT_PUBLIC_GATEWAY_CONTRACT=0x177B49Efced0910F491A35ED37B6E761Ddb80DA4
NEXT_PUBLIC_VOTING_CONTRACT=0xCee3aaeAf7Bced7aFB1526299fC0f80062b7CB99
